<!DOCTYPE html>
<html>
<head>
  <title>Memoram</title>
  <%= wicked_pdf_stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


  <%= csrf_meta_tags %>
  
</head>
<body>
	

<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
